/* Add CSS theme overrides here. */

/* Fixes longer links not to break the main panel */
.panel {
	word-wrap: break-word;
}

/* This class is for grouping header used on people's page */
.view-grouping-header {
	background-color: #ccc;
	padding: .5em;
	margin: 0.5em auto;
	color: #002855;
	font-weight: 700;
	font-size: 1.5625rem;
	line-height: 1.04;
}

/* This class is for grouping header used on quick links and quick forms page, it doesn't harm the same selection on people's page */
div.view-content h3:not(.vm-teaser__title), div.view-content h3:not(.vm-teaser__title) a {
	background-color: #eee;
	padding: 0.1em 0 0.1em 0.4em;
	/*margin: 0.4em auto;
	line-height: 1.5;*/
}

/* Adds the little arrow for links, forms, additional information */
.bftv-row::before {
	position: absolute;
	margin: 1px .5em 0 -.75em;
	color: #deb31a;
	content: "\203A";
	font-family: Georgia;
	font-size: 1.25em;
	font-weight: normal;
	line-height: 1;
}
.bftv-row {
	margin-left: 1em;
}

/* Fixes the layout margins on leave approval page */
@media screen and (min-width: 38em) {
	.layout-container {
		margin: 0 0;
	}
}
.layout-container {
	margin: 0 0;
}

/* This will prevent leave approvers to go to next/previous submisstions */
.webform-submission-navigation {
	display: none;
}

/* This removes the submisstion meta details for leave approvers */
details {
	display: none;
}

/* This makes monthly leave tables to be non-breakable on mobile devices */
.view-leave-history, .view-bftv-mailing-list {
	overflow-x: auto;
}

/* This will remove the labels on Leave history */
td[class*="views-field-webform-submission-value"] label {
	display: none;
}

/* This fixes the caption style of the table on mail list page */
table[class^="views-table views-view-table cols-4"] caption {
	color: #335377;
	background-color: #ccc;
	padding: .5em;
	font-size: 1.125em;
	font-weight: 700;
	margin-top: 1em;
}

/* Fixes the 3rd level side navigation */
.sub-nav li li li a {
	padding-left: 6em;
	font-weight: 300;
}

/* Red text color on keycard webform */
.red-text {
	color: red !important;
}

/* Remove underline from the FAQ lists */
.list--faq>li:nth-child(odd), .list-wrapper--faq ul>li:nth-child(odd) {
	text-decoration: none;
}

/* Styles for Keycard Form Request */
#edit-requested-access-check--wrapper .fieldset-wrapper {
	border: 1px solid #ccc;
	padding: 2px 10px;
	height: 16em;
	overflow-y: scroll;
}

/* Hide the custom separator block */
#block-separator, #block-separator-2, #block-separator-3, #block-separator-4 {
	margin-bottom: 0;
	padding: 0;
	visibility: hidden;
}
/* Key request form search box fix */
#views-exposed-form-keycard-form-submissions-page-1 .js-form-item-sid {
	float: left;
	margin-right: 10px;
}
#views-exposed-form-keycard-form-submissions-page-1 .js-form-item-webform-submission-value .form-select {
	width: 50%
}

/* Styles for Keyform Submission Page */
tr.Submitted, tr.Replacement, tr.Other {
	background-color: #fcc9d4 !important;
}
tr.Reviewed, tr.HardKey {
	background-color: #ffedd4;
}

/* Keycard Form Customization */
[name=keycard_type] {
   	display: none;
}

[type=radio] + label > img {
	cursor: pointer;
	width: 100px;
	border-radius: 15px;
}

[type=radio]:checked + label > img {
	box-shadow: 0 0 1pt 3pt #3DAE2B;
}

.card-txt {
	display: block;
	font-size: 14px;
	text-align: center;
	font-weight: 500;
}

.form-item-keycard-type {
	text-align: center;
}

.services-h3 {
	line-height: 2;
}

/* GSR Form */
.gsr-radio-check .form-radios {
    margin-top: -15px;
}

.error-message {
	font-size: 0.8rem;
	color: red;
}
