<div id="air-media-block" class="cc-main">    
    <router-view></router-view>
</div>

<template id="air-media">
	<div v-if="!loading">
		<div class="air-media-wrap">
			<div v-if="windows">
				<h3>You are using a Windows system</h3>
				<p>&nbsp;</p>
				<p><strong>The "Air Media" application download will start in <span id="counter">{{ time }}</span> seconds.</strong></p>
				<p v-if="force"><a :href="url">Click here</a> if the download is not started.</p>
			</div>
			<div v-else-if="macOs">
				<h3>You are using a Mac system</h3>
				<p>&nbsp;</p>
				<p><strong>The "Air Media" application will download start in <span id="counter">{{ time }}</span> seconds.</strong></p>
				<p v-if="force"><a :href="url">Click here</a> if the download is not started yet.</p>
			</div>
			<div v-else-if="(iOs || andriod || chromeOs)">
				<h3>You are using {{ os }} system</h3>
				<p>&nbsp;</p>
				<p><strong>Please wait, you will be redirected to a page to download the app.</strong></p>
			</div>
			<div class="smallText" v-if="!((manual) || (iOs && andriod && chromeOs))">
				<p>If you want to download any version manually, <a href="#" @click="manualDownload()">click here</a></p>
			</div>
			<div v-else>
				<h4>Choose a Version</h4>
				<p>&nbsp;</p>
				<p><span class="icon icon--link icon--download"> <a href="https://www.bftv.ucdavis.edu/sites/g/files/dgvnsk1346/files/files/page/AirMedia_Windows.zip">Air Media - Windows</a></span></p>
				<p><span class="icon icon--link icon--download"> <a href="https://www.bftv.ucdavis.edu/sites/g/files/dgvnsk1346/files/files/page/AirMedia_Mac.zip">Air Media - Mac</a></span></p>
				<p>&nbsp;</p>
				<a href="#" @click="manualDownloadOff()">Go back</a>
			</div>
		</div>
	</div>
	<div v-else style="text-align: center"><i  v-show="loading" class="fa fa-spinner fa-spin fa-4x" style="color: #999"></i></div>
</template>


<style scoped>
.air-media-wrap {
	text-align: center;
}
.smallText {
	font-size: 14px;
	margin-top: 3em;
}
</style>
