<div id="air-media-block" class="cc-main">    
    <router-view></router-view>
</div>

<template id="air-media">
	<div v-if="!loading">
		<div class="air-media-wrap">
			<div v-if="windows">
				<h3>You are using a Windows system</h3>
				<p>&nbsp;</p>
				<p><strong>The "AirMedia" application download will start in <span id="counter">{{ time }}</span> seconds.</strong></p>
				<div v-if="force">
					<p><a :href="url">Click here</a> if the download is not started.</p>					
				</div>
				<div class="instruction">
					<h4>Connection instructions for Windows</h4>
					<div class="float-left">
						<ol>
							<li>Once the file is downloaded, open it, and then launch the program.</li>
							<ol type="a">
								<li>If prompted for a hostname, use <strong>169.237.216.129</strong> and click <strong>Connect</strong></li>
							</ol>
							<li>Use the <strong>4-digit code</strong> diplayed on the projector screen to <strong>Connect</strong>, then click <strong>Start</strong> when ready to present.</li>
						</ol>
					</div>
					<div>
						<button type="button" class="btn btn-help" onclick="centeredPopup('https://www.bftv.ucdavis.edu/form/1207-av-support','1000','550','yes')"><i class="far fa-question-circle"></i> Get Help</button>
					</div>
					<p class="clear-both">&nbsp;</p>
					<p><strong>For support, please contact <a href="mailto:bftvtech@ucdavis.edu">bftvtech@ucdavis.edu</a> for quickest response.</strong></p>
					<p>Including the room number in subject line will help expedite the response. If we are not on-site, we can call if you leave us a contact number. You may also email us if instructions are unclear, we appreciate the feedback.</p>
				</div>
			</div>
			<div v-else-if="macOs">
				<h3>You are using a Mac system</h3>
				<p>&nbsp;</p>
				<p><strong>The "AirMedia" application will download start in <span id="counter">{{ time }}</span> seconds.</strong></p>
				<div v-if="force">
					<p><a :href="url">Click here</a> if the download is not started.</p>					
				</div>
				<div class="instruction">
					<h4>Connection instructions for macOS</h4>
					<ol>
						<li>The download starts automatically, if not, click the above link to start the download.</li>
						<ol type="a">
							<li>If prompted, <strong>Allow</strong> “bftv.ucdavis.edu” to download to your system.</li>
						</ol>
						<li>Go to the downloaded file, run it, and then open <strong>Launch Crestron AirMedia</strong>.</li>
						<div style="float: right;">
							<button type="button" class="btn btn-help btn-mac" onclick="centeredPopup('https://www.bftv.ucdavis.edu/form/1207-av-support','1000','550','yes')"><i class="far fa-question-circle"></i> Get Help</button>
						</div>
						<ol type="a">
							<li>If you get a <strong>“can’t be opened”</strong> error, without the Open option:</li>
							<ol type="i">
								<li>Click <strong>OK</strong>.</li>
								<li>Right-click (tap with two fingers or use <strong>control + click</strong>) on program to bring up a menu, then select <strong>Open</strong>.</li>
								<li>You should get same message, expect now you can select <strong>Open</strong> to continue.</li>
							</ol>
							<li>Ignore the <strong>“To enable non-AirPlay audio”</strong> message. You can check to box to stop showing the message.</li>
						</ol>
						<li>Use the <strong>AirPlay</strong> <img class="custom-icon" src="https://www.bftv.ucdavis.edu/sites/g/files/dgvnsk1346/files/inline-images/airplay.png" /> icon on the top Menu Bar of your Mac after launching the app to select display.</li>
						<ol type="a">
							<li>If you do not see the icon, go to <strong>System Preferences > Displays > AirPlay Displays:</strong></li>
							<li>Check the box for <strong>“Show mirroring options in the menu bar when available”</strong> to see it on your menu bar in the future.</li>
							<li>If prompted for a hostname, use <strong>169.237.216.129</strong> and click <strong>Connect</strong></li>
						</ol>
						<li>Use the <strong>4-digit code</strong> diplayed on the projector screen to Connect, then click Start when ready to present.</li>
					</ol>
					<p class="clear-both">&nbsp;</p>
					<p><strong>For support, please contact <a href="mailto:bftvtech@ucdavis.edu">bftvtech@ucdavis.edu</a> for quickest response.</strong></p>
					<p>Including the room number in subject line will help expedite the response. If we are not on-site, we can call if you leave us a contact number. You may also email us if instructions are unclear, we appreciate the feedback.</p>
				</div>
			</div>
			<div v-else-if="(iOs || andriod || chromeOs)">
				<h3>You are using {{ os }} system</h3>
				<p>&nbsp;</p>
				<p><strong>Please wait, you will be redirected to a page to download the app.</strong></p>
			</div>
			<div class="smallText" v-if="!manual">
				<p>If you want to download any version manually, <a href="#" @click="manualDownload()">click here</a></p>
			</div>
			<div v-else class="manual-download">
				<h4>Choose a Version</h4>
				<a style="float:right;" href="#" @click="manualDownloadOff()"><-- Go back</a>
				<p>&nbsp;</p>
				<ul style="list-style-type: none;">
					<li><i class="fab fa-windows"></i>  <a href="https://www.bftv.ucdavis.edu/sites/g/files/dgvnsk1346/files/files/page/AirMedia_Windows.zip">AirMedia - Windows</a></li>
					<li><i class="fab fa-apple"></i>  <a href="https://www.bftv.ucdavis.edu/sites/g/files/dgvnsk1346/files/files/page/AirMedia_Mac.zip">AirMedia - Mac</a></li>				
					<li><i class="fab fa-app-store-ios"></i>  <a href="https://itunes.apple.com/us/app/crestron-airmedia/id685412055">iOS</a></li>
					<li><i class="fab fa-android"></i>  <a href="https://play.google.com/store/apps/details?id=com.crestron.airmedia&hl=en_US">Android</a></li>				
					<li><i class="fab fa-chrome"></i>  <a href="https://chrome.google.com/webstore/detail/airmedia-sender/ljophmlbljnjodcbogmdogcpclifenpk">ChromeOS</a></li>
					
				</ul>
				<div class="instruction">
					<h4>Connection instructions for Windows</h4>
					<ol>
						<li>Once the file is downloaded, open it, and then launch the program.</li>
						<ol type="a">
							<li>If prompted for a hostname, use <strong>169.237.216.129</strong> and click <strong>Connect</strong></li>
						</ol>
						<li>Use the <strong>4-digit code</strong> diplayed on the projector screen to <strong>Connect</strong>, then click <strong>Start</strong> when ready to present.</li>
					</ol>					
				</div>
				<div class="instruction">
					<h4>Connection instructions for macOS</h4>
					<ol>
						<li>The download starts automatically, if not, click the above link to start the download.</li>
						<ol type="a">
							<li>If prompted, <strong>Allow</strong> “bftv.ucdavis.edu” to download to your system.</li>
						</ol>
						<li>Go to the downloaded file, run it, and then open <strong>Launch Crestron AirMedia</strong>.</li>
						<ol type="a">
							<li>If you get a <strong>“can’t be opened”</strong> error, without the Open option:</li>
							<ol type="i">
								<li>Click <strong>OK</strong>.</li>
								<li>Right-click (tap with two fingers or use <strong>control + click</strong>) on program to bring up a menu, then select <strong>Open</strong>.</li>
								<li>You should get same message, expect now you can select <strong>Open</strong> to continue.</li>
							</ol>
							<li>Ignore the <strong>“To enable non-AirPlay audio”</strong> message. You can check to box to stop showing the message.</li>
						</ol>
						<li>Use the <strong>AirPlay</strong> <img class="custom-icon" src="/sites/g/files/dgvnsk1346/files/inline-images/airplay.png" /> icon on the top Menu Bar of your Mac after launching the app to select display.</li>
						<ol type="a">
							<li>If you do not see the icon, go to <strong>System Preferences > Displays > AirPlay Displays:</strong></li>
							<li>Check the box for <strong>“Show mirroring options in the menu bar when available”</strong> to see it on your menu bar in the future.</li>
							<li>If prompted for a hostname, use <strong>169.237.216.129</strong> and click <strong>Connect</strong></li>
						</ol>
						<li>Use the <strong>4-digit code</strong> diplayed on the projector screen to Connect, then click Start when ready to present.</li>
					</ol>
					<p>&nbsp;</p>
					<p><strong>For support, please contact <a href="mailto:bftvtech@ucdavis.edu">bftvtech@ucdavis.edu</a> for quickest response.</strong></p>
					<p>Including the room number in subject line will help expedite the response. If we are not on-site, we can call if you leave us a contact number. You may also email us if instructions are unclear, we appreciate the feedback.</p>
				</div>
				
				
			</div>
		</div>
	</div>
	<div v-else style="text-align: center"><i  v-show="loading" class="fa fa-spinner fa-spin fa-4x" style="color: #999"></i></div>
</template>


<style scoped>
.air-media-wrap {
	text-align: center;
}
.smallText {
	font-size: 14px;
	margin-top: 3em;
}
.instruction {
	margin-top: 2em;
	text-align: left;
}
.custom-icon {
	width: 32px;
}
.manual-download {
	text-align: left;
}
.float-left {
	float: left;
}
.clear-both {
	clear: both;
}
.btn {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	user-select: none;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	transition: color .15s;
}
.btn-help {
	cursor: pointer;
	background-color: #f15b24;
	border: 0;
	color: #fff;
	margin-left: 2rem;
	margin-top: 2rem;
	font-size: 1.7rem;
	font-weight: 700;
}
.btn-mac {
	margin-left: 0;
	margin-right: 1rem;
	margin-top: 0;
}
.btn-help:hover {
	color: #fff;
	background-color: #da7a57;
	border-color: #0062cc;
}
.btn-help:focus {
	background-color: #f15b24;
}
</style>
