<div id="gsr-block" class="gsr-main">
    <router-view></router-view>
</div>
<template id="nav-template">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><router-link :to="{name: 'new-apps'}" class="nav-link" @click="loader">New</router-link></li>
                    <li class="nav-item"><router-link :to="{name: 'pen-apps'}" class="nav-link" @click="loader">Pending</router-link></li>
                    <li class="nav-item"><router-link :to="{name: 'com-apps'}" class="nav-link" @click="loader">Completed</router-link></li>
                    <li class="nav-item"><router-link :to="{name: 'rej-apps'}" class="nav-link" @click="loader">Rejected</router-link></li>
                    <li v-if="accesslevel2" class="nav-item"><router-link :to="{name: 'users-list'}" class="nav-link" @click="loader">User Management</router-link></li>
                </ul>
            </div>
            <span class="navbar-text user-info">
                <span class="font-italic user-data-name">{{ username }} </span><span class="user-data-role font-italic secondary-color"> ({{ curlRole }})</span>
            </span>
        </div>
    </nav>
</template>

<template id="data-template">
    <div class="container-fluid">
        <the-navigation></the-navigation>
        <div v-if="loading" id="loading" class="mt-3">
            <div class="spinner-border text-secondary loader" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div>
            <div v-if="screenmsg" class="mt-5">
                <div :class="'alert alert--'+screenmsgtype">
                    <i :class="screenmsgicon"></i> {{ screenmsg }} <span v-if="code == 401">Please <a href="/assignments">click here</a> to refresh the page.</span><span v-if="screenmsgtype == 'error'">If the problem persists, please contact <a href="mailto:bftvtech@ucdavis.edu">bftvtech@ucdavis.edu</a>.</span>
                </div>
            </div>
            <div v-if="!hidebody" class="mt-5">
                <div class="row">
                    <div class="col-md-12">
                        <div v-if="hasApplicants" class='table-responsive mt-2'>
                            <table class='table table-bordered table-hover table-striped'>
                                <thead class='thead-light'>
                                    <tr>
                                        <th>#</th>
                                        <th>Date</th>
                                        <th>Apptmt Type</th>
                                        <th>Applicant</th>
                                        <th>PI/Supervisor</th>
                                        <th>Period</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="applicant in listData">
                                        <td>{{ applicant.sid }}</td>
                                        <td>{{ convertDateFormat(applicant.created, 'datetime') }}</td>
                                        <td>{{ applicant.appt_type }}</td>
                                        <td><a :href="'mailto:'+applicant.gsr_email">{{ applicant.gsr_fname }} {{ applicant.gsr_lname }}</a></td>
                                        <td><a :href="'mailto:'+applicant.pi_email">{{ applicant.pi_fname }} {{ applicant.pi_lname }}</a><br/><span class="text-muted fs-6">{{ applicant.pi_dept }}</span></td>
                                        <td>{{ convertDateFormat(applicant.start_date, 'date') }} - {{ convertDateFormat(applicant.end_date, 'date') }}</td>
                                        <td><a href="" @click="selectRecord(applicant)" data-bs-toggle="modal" data-bs-target="#modal-applicant"><i class="fa-solid fa-pen-to-square"></i></a><span v-if="applicant.status === 'new' || applicant.status === 'reviewed'"> | <a data-bs-toggle="modal" href="" @click="selectRecord(applicant)"data-bs-target="#modalRejectApp"><i class="fa-solid fa-circle-xmark" title="Reject this application."></i></a></span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div v-else>
                            <div class="alert alert--info">There is currently no record in this section.</div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Reject App Modal-->
            <div class="modal fade" id="modalRejectApp">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <!-- Modal body -->
                        <form method="post" @submit.prevent="rejectApp">
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>Are you sure you want to reject the application# <strong><span id="modalRejectAppNO">{{ selectedRecord.sid }}</span></strong> for <strong>{{ selectedRecord.gsr_fname }} {{ selectedRecord.gsr_lname }}</strong>?</p>
                                    </div>
                                    <div class="col-md-12 mt-3">
                                        <input type="text" id="rejectreason" name="rejectreason" placeholder="Optional Reason" />
                                    </div>
                                </div>
                            </div>
                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal" @click="unsetSelectedRecord()">No</button>
                                <button type="submit" class="btn btn-primary btn-sm">Yes</button>
                                <input type="hidden" name="mode" value="rejectapp" />
                                <input type="hidden" name="sid" id="modalRejectAppsid" :value="selectedRecord.sid" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--Edit Modal-->
            <div class="modal fade" id="modal-applicant" tabindex="-1" aria-labelledby="modal-applicant-label" aria-hidden="true" ref="appEditModal" data-bs-backdrop="static">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title fs-5" id="modal-applicant-label">Edit Application for {{ selectedRecord.gsr_fname }} {{ selectedRecord.gsr_lname }}</h3>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @click="unsetSelectedRecord()"></button>
                        </div>
                        <form method="post" @submit.prevent="updateApplicant">
                            <div class="modal-body">
                                <fieldset class="form-group mt-2">
                                    <legend  class="w-auto">PI Information</legend>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="pi_fname" class="input-label required" id="pi_fname-title">PI First Name</label>
                                            <input type="text" id="pi_fname" name="pi_fname" :value="selectedRecord.pi_fname" @input="updateField('pi_fname', $event)" :disabled="selectedRecord.status === 'completed' || selectedRecord.status === 'rejected'" required>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="pi_lname" class="input-label required" id="pi_lname-title">PI Last Name</label>
                                            <input type="text" id="pi_lname" name="pi_lname" :value="selectedRecord.pi_lname" @input="updateField('pi_lname', $event)" :disabled="selectedRecord.status === 'completed' || selectedRecord.status === 'rejected'" required>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-md-6">
                                            <label for="pi_title" class="input-label required" id="pi_title-title">PI Title</label>
                                            <input type="text" id="pi_title" name="pi_title" :value="selectedRecord.pi_title" @input="updateField('pi_title', $event)" :disabled="selectedRecord.status === 'completed' || selectedRecord.status === 'rejected'" required>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="pi_email" class="input-label required" id="pi_email-title">PI E-mail</label>
                                            <input type="email" id="pi_email" name="pi_email" :value="selectedRecord.pi_email" @input="updateField('pi_email', $event)" :disabled="selectedRecord.status === 'completed' || selectedRecord.status === 'rejected'" required>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-md-12">
                                            <label class="radio-check-main-label required" id="pi_dept-title">Department</label>
                                        </div>
                                        <div class="col-md-12 mt-2">
                                            <input type="radio" id="pi_dept_bae" name="pi_dept" value="Biological and Agricultural Engineering (BAE)" v-model="selectedRecord.pi_dept" :disabled="selectedRecord.status === 'completed' || selectedRecord.status === 'rejected'">
                                            <label class="radio-check-label" for="pi_dept_bae">Biological and Agricultural Engineering (BAE)</label>
                                            <input type="radio" id="pi_dept_fst" name="pi_dept" value="Food Science and Technology (FST)" v-model="selectedRecord.pi_dept" :disabled="selectedRecord.status === 'completed' || selectedRecord.status === 'rejected'">
                                            <label class="radio-check-label" for="pi_dept_fst">Food Science and Technology (FST)</label>
                                            <input type="radio" id="pi_dept_ven" name="pi_dept" value="Viticulture & Enology (VEN)" v-model="selectedRecord.pi_dept" :disabled="selectedRecord.status === 'completed' || selectedRecord.status === 'rejected'">
                                            <label class="radio-check-label" for="pi_dept_ven">Viticulture & Enology (VEN)</label>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset class="form-group mt-2">
                                    <legend  class="w-auto">Applicant Information</legend>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="gsr_fname" class="input-label required" id="gsr_fname-title">First Name</label>
                                            <input type="text" id="gsr_fname" name="gsr_fname" :value="selectedRecord.gsr_fname" @input="updateField('gsr_fname', $event)" :disabled="selectedRecord.status === 'completed' || selectedRecord.status === 'rejected'" required>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="gsr_lname" class="input-label required" id="gsr_lname-title">Last Name</label>
                                            <input type="text" id="gsr_lname" name="gsr_lname" :value="selectedRecord.gsr_lname" @input="updateField('gsr_lname', $event)" :disabled="selectedRecord.status === 'completed' || selectedRecord.status === 'rejected'" required>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-md-6">
                                            <label for="gsr_email" class="input-label required" id="gsr_email-title">E-mail</label>
                                            <input type="email" id="gsr_email" name="gsr_email" :value="selectedRecord.gsr_email" @input="updateField('gsr_email', $event)" :disabled="selectedRecord.status === 'completed' || selectedRecord.status === 'rejected'" required>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="worksite" class="input-label" id="worksite-title">Worksite</label>
                                            <input type="text" id="worksite" name="worksite" :value="selectedRecord.worksite" @input="updateField('worksite', $event)" :disabled="selectedRecord.status === 'completed' || selectedRecord.status === 'rejected'">
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset class="form-group mt-2">
                                    <legend  class="w-auto">Recruitment Information</legend>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div>
                                                <label class="radio-check-main-label required" id="pi_dept-title">Appointment Type</label>
                                            </div>
                                            <div>
                                                <input type="radio" id="appt_type_new" name="appt_type" value="New" v-model="selectedRecord.appt_type" :disabled="selectedRecord.status === 'completed' || selectedRecord.status === 'rejected'">
                                                <label class="radio-check-label" for="appt_type_new">New</label>
                                                <input type="radio" id="appt_type_extension" name="appt_type" value="Extension" v-model="selectedRecord.appt_type" :disabled="selectedRecord.status === 'completed' || selectedRecord.status === 'rejected'">
                                                <label class="radio-check-label" for="appt_type_extension">Extension</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="fte_percentage" class="input-label required" id="fte_percentage-title">FTE Percentage</label>
                                            <input type="text" id="fte_percentage" name="fte_percentage" :value="selectedRecord.fte_percentage" @input="updateField('fte_percentage', $event)" :disabled="selectedRecord.status === 'completed' || selectedRecord.status === 'rejected'" required>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="step" class="input-label required" id="step-title">Step</label>
                                            <input type="text" id="step" name="step" :value="selectedRecord.step" @input="updateField('step', $event)" :disabled="selectedRecord.status === 'completed' || selectedRecord.status === 'rejected'" required>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-md-4">
                                            <label for="account" class="input-label required" id="account-title">Account</label>
                                            <input type="text" id="account" name="account" :value="selectedRecord.account" @input="updateField('account', $event)" :disabled="selectedRecord.status === 'completed' || selectedRecord.status === 'rejected'" required>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="start_date" class="input-label required" id="start_date-title">Start Date</label>
                                            <input type="date" id="start_date" name="start_date" :value="selectedRecord.start_date" @input="updateField('start_date', $event)" :disabled="selectedRecord.status === 'completed' || selectedRecord.status === 'rejected'" required>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="end_date" class="input-label required" id="end_date-title">End Date</label>
                                            <input type="date" id="end_date" name="end_date" :value="selectedRecord.end_date" @input="updateField('end_date', $event)" :disabled="selectedRecord.status === 'completed' || selectedRecord.status === 'rejected'" required>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-md-4">
                                            <label for="grant_name" class="input-label required" id="grant_name-title">Research Grant Name</label>
                                            <input type="text" id="grant_name" name="grant_name" :value="selectedRecord.grant_name" @input="updateField('grant_name', $event)" :disabled="selectedRecord.status === 'completed' || selectedRecord.status === 'rejected'" required>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="fund_agency" class="input-label required" id="fund_agency-title">Funding Agency</label>
                                            <input type="text" id="fund_agency" name="fund_agency" :value="selectedRecord.fund_agency" @input="updateField('fund_agency', $event)" :disabled="selectedRecord.status === 'completed' || selectedRecord.status === 'rejected'" required>
                                        </div>
                                        <div class="col-md-4">
                                            <div>
                                                <label class="radio-check-main-label required" id="training_grant-title">Is this a training grant?</label>
                                            </div>
                                            <div>
                                                <input type="radio" id="training_grant_yes" name="training_grant" value="Yes" v-model="selectedRecord.training_grant" :disabled="selectedRecord.status === 'completed' || selectedRecord.status === 'rejected'">
                                                <label class="radio-check-label" for="training_grant_yes">Yes</label>
                                                <input type="radio" id="training_grant_no" name="training_grant" value="No" v-model="selectedRecord.training_grant" :disabled="selectedRecord.status === 'completed' || selectedRecord.status === 'rejected'">
                                                <label class="radio-check-label" for="training_grant_no">No</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-md-12">
                                            <div>
                                                <label class="radio-check-main-label required" id="grad_group-title">Student Grad Group</label>
                                            </div>
                                            <div>
                                                <input type="radio" id="grad_group_gbse" name="grad_group" value="GBSE" v-model="selectedRecord.grad_group" :disabled="selectedRecord.status === 'completed' || selectedRecord.status === 'rejected'">
                                                <label class="radio-check-label" for="grad_group_gbse">GBSE</label>
                                                <input type="radio" id="grad_group_gfsc" name="grad_group" value="GFSC" v-model="selectedRecord.grad_group" :disabled="selectedRecord.status === 'completed' || selectedRecord.status === 'rejected'">
                                                <label class="radio-check-label" for="grad_group_gfsc">GFSC</label>
                                                <input type="radio" id="grad_group_gven" name="grad_group" value="GVEN" v-model="selectedRecord.grad_group" :disabled="selectedRecord.status === 'completed' || selectedRecord.status === 'rejected'">
                                                <label class="radio-check-label" for="grad_group_gven">GVEN</label>
                                                <input type="radio" id="grad_group_other" name="grad_group" value="Other" v-model="selectedRecord.grad_group" :disabled="selectedRecord.status === 'completed' || selectedRecord.status === 'rejected'">
                                                <label class="radio-check-label" for="grad_group_other">Other</label>
                                            </div>
                                            <div>
                                                <input v-if="selectedRecord.grad_group === 'Other'" type="text" id="grad_group_other_text" name="grad_group_other_text" :value="selectedRecord.other_grad_group" @input="updateField('other_grad_group', $event)">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-md-8">
                                            <div>
                                                <label class="radio-check-main-label required" id="additional_funding-title">Is the student recieving any additional funding?
                                                </label>
                                            </div>
                                            <div>
                                                <input type="checkbox" id="additional_funding_none" name="additional_funding[]" value="None" v-model="selectedFunding" :disabled="selectedRecord.status === 'completed' || selectedRecord.status === 'rejected'">
                                                <label class='radio-check-label' for='additional_funding_none'>None</label>
                                                <input type="checkbox" id="additional_funding_ext_fel" name="additional_funding[]" value="External Fellowship" v-model="selectedFunding" :disabled="selectedRecord.status === 'completed' || selectedRecord.status === 'rejected'">
                                                <label class='radio-check-label' for='additional_funding_ext_fel'>External Fellowship</label>
                                                <input type="checkbox" id="additional_funding_int_fel" name="additional_funding[]" value="Internal Fellowship" v-model="selectedFunding" :disabled="selectedRecord.status === 'completed' || selectedRecord.status === 'rejected'">
                                                <label class='radio-check-label' for='additional_funding_int_fel'>Internal Fellowship</label>
                                                <input type="checkbox" id="additional_funding_taship" name="additional_funding[]" value="TAship" v-model="selectedFunding" :disabled="selectedRecord.status === 'completed' || selectedRecord.status === 'rejected'">
                                                <label class='radio-check-label' for='additional_funding_taship'>TAship</label>
                                                <input type="checkbox" id="additional_funding_other" name="additional_funding[]" value="Other" v-model="otherAdditionalFunding":checked="otherAdditionalFunding" :disabled="selectedRecord.status === 'completed' || selectedRecord.status === 'rejected'">
                                                <label class='radio-check-label' for='additional_funding_other'>Other</label>
                                            </div>
                                            <div v-if="otherAdditionalFunding" class="mt-2">
                                                <input v-if="otherAdditionalFunding" type="text" id="additional_funding_other_text" name="additional_funding_other_text" :value="otherAdditionalFundingText" :disabled="selectedRecord.status === 'completed' || selectedRecord.status === 'rejected'">
                                            </div>
                                        </div>
                                        <div class="col-md-4" v-if="selectedFunding.includes('TAship')">
                                            <label for="ta_percentage" class="input-label" id="ta_percentage-title">TAShip Percentage</label>
                                            <input v-if="selectedFunding.includes('TAship')" type="text" id="ta_percentage" name="ta_percentage" :value="selectedRecord.ta_percentage" @input="updateField('ta_percentage', $event)" :disabled="selectedRecord.status === 'completed' || selectedRecord.status === 'rejected'">
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset class="form-group mt-2" v-if="selectedRecord.comments">
                                    <legend  class="w-auto">User Comment</legend>
                                    <div class="row">
                                        <div class="col-md-12">
                                            {{ selectedRecord.comments }}
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset class="form-group mt-2">
                                    <legend  class="w-auto">History Logs</legend>
                                    <div class="row">
                                        <div class="col-md-12 table-responsive">
                                            <table class='table text-muted log-table'>
                                                <tr v-for="history in selectedRecord.history">
                                                    <td style='width: 200px'>{{ convertDateFormat(history.affected_date, 'datetime', true) }}</td>
                                                    <td><span v-if="history.user">{{ history.user }}&nbsp;</span><span v-html="removeAllBackslashes(history.note)"></span></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset class="form-group mt-2">
                                    <legend  class="w-auto">Admin Use</legend>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="checkbox" id="approved_am" name="approved_am" value="1" v-model="approvedAM" :checked="approvedAM" :disabled="selectedRecord.status === 'completed' || selectedRecord.status === 'rejected'">
                                            <label class='radio-check-label' for='approved_am'>Approved by Account Management Team</label>
                                            <input type="checkbox" id="approved_advising" name="approved_advising" value="1" v-model="approvedAdvising" :checked="approvedAdvising" :disabled="selectedRecord.status === 'completed' || selectedRecord.status === 'rejected'">
                                            <label class='radio-check-label' for='approved_advising'>Approved by Advising Section</label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="modal-footer">
                                <input type="hidden" name="fullname" id="fullname" :value="selectedRecord.gsr_fname+' '+selectedRecord.gsr_lname" />
                                <input type="hidden" name="sid" id="sid" :value="selectedRecord.sid" />
                                <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal" @click="unsetSelectedRecord()">Close</button>
                                <button v-if="!viewermode &&  selectedRecord.status !== 'completed' && selectedRecord.status !== 'rejected'" type="submit" class="btn btn-primary btn-sm" name="save-app" :disabled="!approvedAM && !approvedAdvising">Save</button>
                                <button v-if="!viewermode &&  selectedRecord.status !== 'completed' && selectedRecord.status !== 'rejected'" type="submit" class="btn btn-primary btn-sm" name="docusign-app" :disabled="!approvedAM || !approvedAdvising">Save & Initiate DocuSign</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template id="list-users-template">
    <div class="container-fluid">
        <the-navigation></the-navigation>
        <div v-if="loading" id="loading" class="mt-3">
            <div class="spinner-border text-secondary loader" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div v-if="accesslevel2">
            <div v-if="screenmsg" class="mt-5">
                <div :class="'alert alert--'+screenmsgtype">
                    <i :class="screenmsgicon"></i> {{ screenmsg }} <span v-if="code == 401">Please <a href="/gsr-mgmt">click here</a> to refresh the page.</span><span v-if="screenmsgtype == 'error'">If the problem persists, please contact <a href="mailto:bftvtech@ucdavis.edu">bftvtech@ucdavis.edu</a>.</span>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12 text-end">
                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modal-add-user">+ Add a User</button>
                </div>
            </div>
            <div v-if="!hidebody" class='table-responsive mt-2'>
                <table class='table table-bordered table-hover table-striped'>
                    <thead class='thead-light'>
                        <tr>
                            <th>Name</th>
                            <th>Login ID</th>
                            <th>Role</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="person in listData">
                            <td>{{ person.firstname }} {{ person.lastname }}</td>
                            <td>{{ person.loginid }}</td>
                            <td class="text-capitalize">{{ person.role }}</td>
                            <td>{{ person.status == 1 ? 'Enabled' : 'Disabled' }}</td>
                            <td><a v-if="accesslevel2" href="" @click="selectRecord(person)" data-bs-toggle="modal" data-bs-target="#modal-user"><i class="fa-solid fa-pen-to-square"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- Modal Add -->
            <div class="modal fade" id="modal-add-user" tabindex="-1" aria-labelledby="modal-add-user-label" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title fs-5" id="modal-add-user-label">Add a New User</h3>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form method="post" @submit.prevent="addUser">
                            <div class="modal-body">
                                <div class="row m-2">
                                    <div class="col-md-12">
                                        <input type="text" name="usrloginid" id="usrloginid" placeholder="UCD LoginID" required>
                                    </div>
                                    <div class="col-md-12 mt-1">
                                        <input type="email" name="useremail" id="useremail" placeholder="@ucdavis.edu" required>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary btn-sm">Add</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Modal Edit -->
            <div class="modal fade" id="modal-user" tabindex="-1" aria-labelledby="modal-user-label" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title fs-5" id="modal-user-label">Edit User {{ selectedRecord.firstname }} {{ selectedRecord.lastname }}</h3>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form method="post" @submit.prevent="updateUser">
                            <div class="modal-body">
                                <div class="row m-2">
                                    <div class="col-md-10 text-end">
                                        <button type="submit" class="btn btn-primary btn-sm" name="refresh-user">Refresh from UC Directory</button>
                                    </div>
                                </div>
                                <div class="row m-2">
                                    <div class="col-md-4 fw-bold text-end">
                                        First Name
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" name="userfname" id="userfname" :value="selectedRecord.firstname" disabled>
                                    </div>
                                </div>
                                <div class="row m-2">
                                    <div class="col-md-4 fw-bold text-end">
                                        Last Name
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" name="userlname" id="userlname" :value="selectedRecord.lastname" disabled>
                                    </div>
                                </div>
                                <div class="row m-2">
                                    <div class="col-md-4 fw-bold text-end">
                                        Login ID
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" name="loginid" id="loginid" :value="selectedRecord.loginid" disabled>
                                    </div>
                                </div>
                                <div class="row m-2">
                                    <div class="col-md-4 fw-bold text-end">
                                        E-mail
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" name="email" id="email" :value="selectedRecord.email" disabled>
                                    </div>
                                </div>
                                <div class="row m-2">
                                    <div class="col-md-4 fw-bold text-end">
                                        Role
                                    </div>
                                    <div class="col-md-6">
                                        <select name="role" id="role">
                                            <option>-- select an option --</option>
                                            <option value="admin" :selected="selectedRecord.role == 'admin' ? 'selected' : ''">Admin</option>
                                            <option value="editor" :selected="selectedRecord.role == 'editor' ? 'selected' : ''">Editor</option>
                                            <option value="viewer" :selected="selectedRecord.role == 'viewer' ? 'selected' : ''">Viewer</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row m-2">
                                    <div class="col-md-6 offset-md-4">
                                        <input type="checkbox" id="status_check" name="status_check" :value="selectedRecord.status" :checked="selectedRecord.status == 1 ? 'checked' : ''" />
                                        <label class="radio-check-label" for="status_check">Enable User</label>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="hidden" name="fullname" id="fullname" :value="selectedRecord.firstname+' '+selectedRecord.lastname" />
                                <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary btn-sm" name="save-user">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>